.milieu{
  text-align: center;
  align-items: center;
  justify-content: center;
  clear:both;
}

input[type="text"]{
  height: 100px;
  width: 600px;
  font-size: 2em;
  text-align:center
}
input[type="button"]{
  height: 75px;
  width: 555px;
  font-size: 1.5em;
}
li
{
  list-style-type: none;
}
h1{
  font-size: 4em;
  color:blue
}
a{
  font-size: 1.5em
}
p{
  font-size: 1.5em;
  margin-left: 5em;
  margin-right:5em;
}
#rep{
 display : flex ;
 float: top left;
 align-items: left;
 justify-content: left;
}
.gauche{
  align-items:left;
  justify-content:left;
  display:flex;
}
.petit{
  font-size: 1em
}
